section {
    width: 100%;
    margin: auto;
    background-color: rgb(209, 139, 48);
    padding: 4rem 0 3rem;

}

.nav {
    width: 1280px;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav ul {
    display: flex;
    align-items: center;
    padding: 20px 0;
    list-style: none;
}

.nav li {
    padding: 0 10px;

}

.nav a {
    font-family: Georgia;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    color: #464646;
    margin: 0 15px;
    position: relative;
}

.nav .logo h1 span {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
}

.nav .logo img {
    vertical-align: middle;
}

/* home底線游標 */
.nav li:nth-child(1) a {
    border-bottom: 1px solid #cdc525;
}

/* 底線游標 */
.nav li a:hover {
    border-bottom: 1px solid #3be479;
    transition: .3s;
}

/* 選擇器三角形 */
.nav li:not(:first-child) a::after {
    content: '';
    position: absolute;
    display: block;
    right: -15px;
    top: 7px;
    height: 0px;
    width: 0px;
    border-top: 5px solid #f64646;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}

.nav .btn {
    padding: 20px 30px;
    border: 1px solid #1ba26e;
    border-radius: 5px;
}

.nav .btn:hover {
    border: 1px solid #f7b1b1;
    background-color: #ba0c0c;
    transition: .3s;
}

#accpic {
    width: 30px;
    height: 30px;

}
/* cart */
#cart-icon {
    font-size: 1.8rem;
    /* cursor: pointer; */
}

#cart-icon {
    width: 40px;
    height: 40px;
}
.cart {
    position: fixed;
    top: 0;
    right: 100%;
    width: 360px;
    min-height: 100vh;
    padding: 20px;
    background: white;
    box-shadow: -2px 0 4px hsl(0 4% 15%/10%);
    transform: 0.3s;
}

.cart.active {
    right: 0;
}

.cart-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
}

.cart-box {
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.cart-img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    padding: 10px;
}

.detail-box {
    display: grid;
    row-gap: 0.5rem;
}

.cart-product-title {
    font-size: 1.2rem;
    text-transform: uppercase;
}

.cart-price {
    font-size: 500;
}

.cart-quantity {
    border: 2px solid color(rgb(244, 124, 55));
    outline-color: black;
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
}

.cart-remove {
    font-size: 24px;
    color: var(--main-color--);
    cursor: pointer;
}

.total {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px var(--text-color--);

}

.total-title {
    font-size: 1rem;
    font-weight: 600;
}

.total-price {
    margin-left: 0.5rem;
}

.btn-buy {
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    color: var(main-color);
    background-color: red;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.btn-buy:hover {
    background: var(--text-color--);
}

#close-cart {
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 2rem;
    color: red;
    cursor: pointer;
}
.section-title{
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.5rem;
}
.shop{
    margin-top: 2rem;
}
.shop-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,auto));
    gap: 1.5rem;
}